@import './reset';
@import './variables';
@import './typography';


.navbar {
    height: 70px;
    // border: 1px solid red;
    box-shadow: 0 0 1px black;
    background-color: $bs-white;

    .navbar-container {
        display: flex;
        height: 100%;
        width: 100%;
        // border: 1px solid blue;
    }

    .logo-brand {
        display: flex;
        align-items: center;
        margin-left: 1.25em;
        // border: 1px solid blue;

        img {
            height: 45px;
            margin-left: 1em;
        }
    }

    .nav-items {
        display: none;
    }

    .nav-login {
        display: none;
    }
}

.signup-banner {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-weight: normal;
    }

    h6 {
        font-weight: normal;
        font-size: 16px;
    }

    .signup-banner-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        form {
            width: 100%;

            input {
                border: none;
                border: 1px solid $bs-gray-700 ;
                border-radius: 10px;
                padding: 15px 20px;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }

        button {
            width: 100%;
            padding: 10px 0;
            background-color: $bs-primary;
            color: $bs-white;
            border: none;
            border-radius: 5px;
            font-size: 1.25em;


        }

    }

}

.slide-images {
    text-align: center;
    .slide-images-container {
        h1 {
            font-size: 20px;
        }
        p{
            font-size: 16px;
            margin-top: 15px;

        }

        .image-slider-container{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            overflow: auto;
            justify-items: center;
            .boxes{
                width: 300px;
                height: 300px;
                background-color: green;
                margin: 5px;
            }
            .box1{

                background-color: red;
            }
            .box2{

                background-color: blue;
            }
            .box3{

                background-color: aqua;
            }
            .box4{

                background-color: green;
            }
        }
    }
}


@media screen and (min-width: 768px) {

    .navbar {
        height: 75px;
        // border: 1px solid red;
        box-shadow: 0 0 10px gray;

        .navbar-container {
            display: flex;
            height: 100%;
            width: 100%;
            // border: 1px solid blue;
        }

        .logo-brand {
            display: flex;
            align-items: center;
            margin-left: 1.25em;
            // border: 1px solid blue;

            img {
                height: 45px;
                margin-left: 1em;
            }


        }

        .nav-items {
            display: none;
        }

        //?------------------------------------------------
        .nav-login {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 15px;
            gap: 5px;

            h5 {
                a {
                    text-decoration: none;
                    font-weight: normal;
                    color: black;
                    padding: 12px 12px;
                    border-radius: 10px;

                    &:hover {
                        text-decoration: underline;
                        background-color: $li-hover-color;
                    }

                }
            }


            button {
                border: none;
                border: 1px solid $bs-black;
                border-radius: 8px;
                padding: 16px 16px;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    background-color: $bs-black;
                    color: $bs-white;
                }
            }

            .signup {
                background-color: $bs-blue;
                border: 1px solid $bs-blue;
                color: white;

                &:hover {
                    background-color: $color-blue-900;
                }

            }
        }
    }

    .signup-banner {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: normal;
            font-size: 45px;
        }

        h6 {
            font-weight: normal;
            font-size: 20px;
        }

        .signup-banner-container {
            // border: 1px solid red;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            form {
                width: $width350px;

                input {
                    border: none;
                    border: 1px solid $bs-gray-700 ;
                    border-radius: 10px;
                    padding: 15px 20px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: $width350px;
                padding: 10px 0;
                background-color: $bs-primary;
                color: $bs-white;
                border: none;
                border-radius: 5px;
                font-size: 1.25em;


            }

        }

    }

    .slide-images {
        text-align: center;
        .slide-images-container {
            h1 {
                font-size: 30px;
            }
    
            .image-slider-container{
                display: grid;
                grid-template-columns:repeat(4,1fr);
                overflow:auto;
                justify-items: center;
                .boxes{
                    width: 300px;
                    height: 300px;
                    background-color: white;
                    margin: 5px;
                }
                .box1{

                    background-color: red;
                }
                .box2{

                    background-color: blue;
                }
                .box3{

                    background-color: green;
                }
                .box4{

                    background-color: yellow;
                }
            }
        }
    }
}



@media only screen and (min-width: 1200px) {

    .navbar {
        height: 75px;
        // border: 1px solid red;
        box-shadow: 0 0 10px gray;

        .navbar-container {
            display: flex;
            height: 100%;
            width: 100%;
            max-width: 1350px;
            margin: 0 auto;
            // border: 1px solid blue;
        }

        .logo-brand {
            display: flex;
            align-items: center;
            margin-left: 1.25em;

            // border: 1px solid blue;
            i {
                display: none;
            }

            img {
                height: 45px;
                margin-left: 1em;
            }
        }

        .nav-items {
            display: flex;
            margin-left: 1.5em;
            // border: 1px solid green;

            ul {
                display: flex;
                align-items: center;
                text-transform: capitalize;
                gap: 15px;

                li {
                    list-style: none;
                    padding: 12px 8px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $li-hover-color;
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    // background-color: red;

                    a {
                        text-decoration: none;
                        color: black;

                    }
                }
            }
        }

        .nav-login {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 15px;
            gap: 5px;

            h5 {
                a {
                    text-decoration: none;
                    font-weight: normal;
                    color: black;
                    padding: 12px 12px;
                    border-radius: 10px;

                    &:hover {
                        text-decoration: underline;
                        background-color: $li-hover-color;
                    }

                }
            }


            button {
                border: none;
                border: 1px solid $bs-black;
                border-radius: 8px;
                padding: 16px 16px;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    background-color: $bs-black;
                    color: $bs-white;
                }
            }

            .signup {
                background-color: $bs-blue;
                border: 1px solid $bs-blue;
                color: white;

                &:hover {
                    background-color: $color-blue-900;
                }

            }
        }
    }

    .signup-banner {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: normal;
            font-size: 55px;
        }

        h6 {
            font-weight: normal;
            font-size: 22px;
        }

        .signup-banner-container {
            // border: 1px solid red;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            form {
                width: $width400px;

                input {
                    border: none;
                    border: 1px solid $bs-gray-700 ;
                    border-radius: 10px;
                    padding: 15px 20px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: $width400px;
                padding: 10px 0;
                background-color: $bs-primary;
                color: $bs-white;
                border: none;
                border-radius: 5px;
                font-size: 1.25em;


            }

        }

    }
}