@import './reset';
@import './variables';
@import './typography';


    .max-width-footer{
        max-width: 1250px;
        margin: 0 auto;
    }

@media screen and (max-width: 768px) {

    .navbar {
        height: 70px;
        // border: 1px solid red;
        box-shadow: 0 0 1px black;
        background-color: $bs-white;

        .navbar-container {
            display: flex;
            height: 100%;
            width: 100%;
            // border: 1px solid blue;
        }

        .logo-brand {
            display: flex;
            align-items: center;
            margin-left: 1.25em;
            // border: 1px solid blue;

            img {
                height: 45px;
                margin-left: 1em;
            }
        }

        .nav-items {
            display: none;
        }

        .nav-login {
            display: none;
        }
    }

    .signup-banner {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: normal;
        }

        h6 {
            font-weight: normal;
            font-size: 16px;
        }

        .signup-banner-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            form {
                width: 100%;

                input {
                    border: none;
                    border: 1px solid $bs-gray-700 ;
                    border-radius: 10px;
                    padding: 15px 20px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: 100%;
                padding: 10px 0;
                background-color: $bs-primary;
                color: $bs-white;
                border: none;
                border-radius: 5px;
                font-size: 1.25em;


            }

        }

    }

    .slide-images {
        text-align: center;

        .slide-images-container {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                margin-top: 15px;

            }

            .image-slider-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                overflow: auto;
                justify-items: center;

                .boxes {
                    width: 300px;
                    height: 300px;
                    background-color: green;
                    margin: 5px;
                }

                .box1 {

                    background-color: red;
                }

                .box2 {

                    background-color: blue;
                }

                .box3 {

                    background-color: aqua;
                }

                .box4 {

                    background-color: green;
                }
            }
        }
    }

    .footer-container {
        background-color: $bs-gray-900;
        color: $bs-white;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        .footer-signup {
            // margin: 40px 0;
            display: flex;
            flex-direction: column;
            // justify-self: center;
            // align-items: center;
            text-align: center;
            margin: 25px auto;

            h4,
            h5 {
                font-weight: normal;

            }

            h4 {
                margin-bottom: 15px;
                font-size: 1.5em;
            }

            h5 {
                margin-bottom: 15px;
                font-size: 1em;
            }

            .input-group {
                display: flex;

                input {
                    border: none;
                    padding: 10px 25px;
                    border-radius: 10px 0 0 10px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    padding: 10px 25px;
                    border-radius: 0 10px 10px 0;
                    background-color: $bs-primary;
                    color: $bs-white;

                    &:hover {
                        background-color: $color-blue-900;
                        cursor: pointer;
                    }
                }
            }

        }

        .list-items {
            margin: 25px 0;

            .list-items-container {
                .list {
                    text-align: start;
                    padding-left: 50px;
                    margin: 15px 0;
                    // border-bottom: 1px solid $bs-gray-500;
                    padding-bottom: 10px;
                    // box-shadow: 0 1px 1px $bs-gray-500;

                    ul {
                        list-style: none;
                        // display: none;
                        transition: all .5s ease;

                        li {
                            padding: 10px 0 10px 35px;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }

                    // &:hover {
                    //     ul {
                    //         // display: block;
                    //         // transition: all ease-in 10s;
                    //         // transition: all linear 3s;

                    //     }
                    // }

                    h4 {
                        font-weight: normal;
                        margin: 10px 0;

                    }

                    // border:1px solid red;
                }

                .list5 {
                    box-shadow: none;
                }
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            align-items: center;

            .socials-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 10px 0;
                // border: 1px solid white;

                .fa--size {
                    font-size: 1.5em;
                }

                .socials-logo,
                .language,
                .stores {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                }

                .socials-logo {
                    gap: 15px;
                    margin-right: 25px;
                    margin-left: 25px;

                    i:hover {
                        color: $bs-primary;
                        cursor: pointer;
                    }
                }

                .language:hover {
                    cursor: pointer;
                    color: $bs-yellow;
                }

                .stores {
                    img {
                        width: 150px;
                        // height: 100px;
                    }
                }
            }
        }
    }

    .copyright {
        margin: 25px 0;

        .copyright-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .logo-year {
                display: flex;
                justify-content: center;
                align-items: center;

                img:hover {
                    cursor: pointer;
                }

                .firstp {
                    margin-right: 15px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            .terms {
                display: flex;
                justify-content: space-around;

                p:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .reasons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        
        .reasons-container{
            // display: inline-flex;
            // flex-direction: column;
            text-align: center;
            gap: 5px;
            h4,h6{
                font-weight: normal;
            }
            h4{
                font-size: 25px;
            }
            h6{
                font-size: 15px;
            }
            p{
                display: inline;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: red;
                &:hover{
                    cursor: pointer;
                    background-color: $li-hover-color;
                }

            }

        }
        .reasons-items{
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
            .rlists{
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 300px;
                border: 1px solid black;
                border-radius: 15px;
                .rpic{
                    width: 250px;
                    img{
                        width: 250px;
                        overflow: hidden;
                        border-radius: 15px 15px 0 0;
                    }
                }

                h3{
                    margin-top: 55px;
                }
                p{
                    margin-top: auto;
                }
            }
        }
    }

}



@media screen and (min-width: 768px) {

    .navbar {
        height: 75px;
        // border: 1px solid red;
        box-shadow: 0 0 10px gray;

        .navbar-container {
            display: flex;
            height: 100%;
            width: 100%;
            // border: 1px solid blue;
        }

        .logo-brand {
            display: flex;
            align-items: center;
            margin-left: 1.25em;
            // border: 1px solid blue;

            img {
                height: 45px;
                margin-left: 1em;
            }
        }

        .nav-items {
            display: none;
        }

        //?------------------------------------------------
        .nav-login {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 15px;
            gap: 5px;

            h5 {
                a {
                    text-decoration: none;
                    font-weight: normal;
                    color: black;
                    padding: 12px 12px;
                    border-radius: 10px;

                    &:hover {
                        text-decoration: underline;
                        background-color: $li-hover-color;
                    }

                }
            }


            button {
                border: none;
                border: 1px solid $bs-black;
                border-radius: 8px;
                padding: 16px 16px;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    background-color: $bs-black;
                    color: $bs-white;
                }
            }

            .signup {
                background-color: $bs-blue;
                border: 1px solid $bs-blue;
                color: white;

                &:hover {
                    background-color: $color-blue-900;
                }

            }
        }
    }

    .signup-banner {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: normal;
            font-size: 45px;
        }

        h6 {
            font-weight: normal;
            font-size: 20px;
        }

        .signup-banner-container {
            // border: 1px solid red;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            form {
                width: $width350px;

                input {
                    border: none;
                    border: 1px solid $bs-gray-700 ;
                    border-radius: 10px;
                    padding: 15px 20px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: $width350px;
                padding: 10px 0;
                background-color: $bs-primary;
                color: $bs-white;
                border: none;
                border-radius: 5px;
                font-size: 1.25em;


            }

        }

    }

    .slide-images {
        text-align: center;

        .slide-images-container {
            h1 {
                font-size: 30px;
            }

            .image-slider-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                overflow: auto;
                justify-items: center;

                .boxes {
                    width: 300px;
                    height: 300px;
                    background-color: white;
                    margin: 5px;
                }

                .box1 {

                    background-color: red;
                }

                .box2 {

                    background-color: blue;
                }

                .box3 {

                    background-color: green;
                }

                .box4 {

                    background-color: yellow;
                }
            }
        }

    }


    .footer-container {
        background-color: $bs-gray-900;
        color: $bs-white;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        .footer-signup {
            // margin: 40px 0;
            display: flex;
            flex-direction: column;
            // justify-self: center;
            // align-items: center;
            text-align: center;
            margin: 25px auto;

            h4,
            h5 {
                font-weight: normal;

            }

            h4 {
                margin-bottom: 25px;
                font-size: 1.75em;
            }

            h5 {
                margin-bottom: 15px;
                font-size: 1.25em;
            }

            .input-group {
                display: flex;
                justify-content: center;

                input {
                    border: none;
                    padding: 20px 35px;
                    border-radius: 10px 0 0 10px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    padding: 20px 35px;
                    border-radius: 0 10px 10px 0;
                    background-color: $bs-primary;
                    color: $bs-white;

                    &:hover {
                        background-color: $color-blue-900;
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .list-items {
        margin: 15px 0;

        .list-items-container {
            display: flex;
            justify-content: space-between;

            .list {
                text-align: start;
                padding-left: 25px;
                margin: 15px 0;
                // border-bottom: 1px solid $bs-gray-500;
                padding-bottom: 10px;
                // box-shadow: 0 1px 1px $bs-gray-500;

                ul {
                    list-style: none;
                    // display: none;
                    // transition: all .5s ease;

                    li {
                        padding: 10px 0 10px 25px;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                // &:hover {
                //     ul {
                //         // display: block;
                //         // transition: all ease-in 10s;
                //         // transition: all linear 3s;

                //     }
                // }

                h4 {
                    font-weight: normal;
                    margin: 10px 0;

                }

                // border:1px solid red;
            }

            .list5 {
                box-shadow: none;
            }
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;

        .socials-container {
            display: flex;
            // flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 10px 0;
            width: 100%;
            // border: 1px solid white;

            .fa--size {
                font-size: 1.75em;
            }

            .socials-logo,
            .language,
            .stores {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;


            }

            .socials-logo {
                gap: 15px;
                margin-right: 25px;
                margin-left: 25px;

                i:hover {
                    color: $bs-primary;
                    cursor: pointer;
                }
            }

            .language:hover {
                cursor: pointer;
                color: $bs-yellow;
            }

            .stores {
                margin-left: auto;
                margin-right: 25px;

                img {
                    width: 150px;
                    // height: 100px;
                }
            }




        }
    }

    .copyright {
        // margin: 15px 0;

        .copyright-container {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 25px;
            // gap: 10px;

            .logo-year {
                display: flex;
                justify-content: center;
                align-items: center;

                img:hover {
                    cursor: pointer;
                }

                .firstp {
                    margin-right: 15px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            .terms {
                display: flex;
                gap: 25px;

                justify-content: space-around;

                p:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }




}

@media only screen and (min-width: 1200px) {

    .navbar {
        height: 75px;
        // border: 1px solid red;
        box-shadow: 0 0 10px gray;

        .navbar-container {
            display: flex;
            height: 100%;
            width: 100%;
            max-width: 1350px;
            margin: 0 auto;
            // border: 1px solid blue;
        }

        .logo-brand {
            display: flex;
            align-items: center;
            margin-left: 1.25em;

            // border: 1px solid blue;
            i {
                display: none;
            }

            img {
                height: 45px;
                margin-left: 1em;
            }
        }

        .nav-items {
            display: flex;
            margin-left: 1.5em;
            // border: 1px solid green;

            ul {
                display: flex;
                align-items: center;
                text-transform: capitalize;
                gap: 15px;

                li {
                    list-style: none;
                    padding: 12px 8px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $li-hover-color;
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    // background-color: red;

                    a {
                        text-decoration: none;
                        color: black;

                    }
                }
            }
        }

        .nav-login {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 15px;
            gap: 5px;

            h5 {
                a {
                    text-decoration: none;
                    font-weight: normal;
                    color: black;
                    padding: 12px 12px;
                    border-radius: 10px;

                    &:hover {
                        text-decoration: underline;
                        background-color: $li-hover-color;
                    }

                }
            }


            button {
                border: none;
                border: 1px solid $bs-black;
                border-radius: 8px;
                padding: 16px 16px;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    background-color: $bs-black;
                    color: $bs-white;
                }
            }

            .signup {
                background-color: $bs-blue;
                border: 1px solid $bs-blue;
                color: white;

                &:hover {
                    background-color: $color-blue-900;
                }

            }
        }
    }

    .signup-banner {
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-weight: normal;
            font-size: 55px;
        }

        h6 {
            font-weight: normal;
            font-size: 22px;
        }

        .signup-banner-container {
            // border: 1px solid red;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            form {
                width: $width400px;

                input {
                    border: none;
                    border: 1px solid $bs-gray-700 ;
                    border-radius: 10px;
                    padding: 15px 20px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                width: $width400px;
                padding: 10px 0;
                background-color: $bs-primary;
                color: $bs-white;
                border: none;
                border-radius: 5px;
                font-size: 1.25em;


            }

        }

    }

    .slide-images {
        text-align: center;
        margin: 75px 0;

        .slide-images-container {
            h1 {
                font-size: 30px;
            }

            .image-slider-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                overflow: auto;
                justify-items: center;
                margin: 25px 0;

                .boxes {
                    width: 300px;
                    height: 300px;
                    background-color: white;
                    margin: 5px;
                }

                .box1 {

                    background-color: red;
                }

                .box2 {

                    background-color: blue;
                }

                .box3 {

                    background-color: green;
                }

                .box4 {

                    background-color: yellow;
                }
            }
        }
    }

    .footer-container {
        background-color: $bs-gray-900;
        color: $bs-white;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        .footer-signup {
            // margin: 40px 0;
            display: flex;
            flex-direction: column;
            // justify-self: center;
            // align-items: center;
            text-align: center;
            margin: 25px auto;

            h4,
            h5 {
                font-weight: normal;

            }

            h4 {
                margin-bottom: 15px;
                font-size: 2em;
            }

            h5 {
                margin-bottom: 15px;
                font-size: 1.5em;
            }

            .input-group {
                display: flex;
                justify-content: center;

                input {
                    border: none;
                    padding: 20px 55px;
                    border-radius: 10px 0 0 10px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    padding: 20px 55px;
                    border-radius: 0 10px 10px 0;
                    background-color: $bs-primary;
                    color: $bs-white;

                    &:hover {
                        background-color: $color-blue-900;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .list-items {
        margin: 25px 0;

        .list-items-container {
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;

            .list {
                display: block;
                text-align: start;
                padding-left: 25px;
                margin: 15px 0;
                width: 300px;
                height: 500px;
                box-shadow: none;
                border: none;
                // border-bottom: 1px solid $bs-gray-500;
                padding-bottom: 10px;
                // box-shadow: 0 1px 1px $bs-gray-500;

                ul {
                    display: block;
                    list-style: none;
                    // display: none;
                    // transition: all .5s ease;

                    li {
                        padding: 10px 0 10px 25px;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }



                h4 {
                    font-weight: normal;
                    margin: 10px 0;

                }

                // border:1px solid red;
            }

            .list5 {
                box-shadow: none;
            }
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;

        .socials-container {
            display: flex;
            // flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 10px 0;
            width: 100%;
            // border: 1px solid white;

            .fa--size {
                font-size: 1.75em;
            }

            .socials-logo,
            .language,
            .stores {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;


            }

            .socials-logo {
                gap: 15px;
                margin-right: 25px;
                margin-left: 25px;

                i:hover {
                    color: $bs-primary;
                    cursor: pointer;
                }
            }

            .language:hover {
                cursor: pointer;
                color: $bs-yellow;
            }

            .stores {
                margin-left: auto;
                // margin-right: 25px;

                img {
                    width: 150px;
                    // height: 100px;
                }
            }




        }
    }

    .copyright {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        // border: 1px solid white;

        .copyright-container {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-between;
            // margin: 0 25px;
            width: 100%;
            // gap: 10px;
            // border: 1px solid white;

            .logo-year {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 25px;


                img:hover {
                    cursor: pointer;
                }

                .firstp {
                    margin-right: 15px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            .terms {
                display: flex;
                gap: 25px;
                margin-right: 25px;
                justify-content: space-around;

                p:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}